conversation {
  margin: 30px auto;
  display: block;
  font-size: 0.8em;
}
conversation > section.row > section.left {
  height: 450px !important;
  overflow-y: scroll;
}
conversation > section.row > section.left -webkit-scrollbar {
  -webkit-appearance: none !important;
}
conversation > section.row > section.left -webkit-scrollbar:vertical {
  width: 11px;
}
conversation > section.row > section.left -webkit-scrollbar:horizontal {
  height: 11px;
}
conversation > section.row > section.left -webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.9);
  /* should match background, can't be transparent */

  background-color: rgba(0, 0, 0, 0.5);
}
conversation > section.row {
  margin: 0 auto !important;
  width: 100% !important;
}
conversation > section.row header {
  display: block;
  float: center;
  font-size: 0.8em;
  margin-top: 8px;
}
conversation > section.row section.left {
  padding: 10px;
  margin: 10px;
}
conversation > section.row section.left article {
  margin: 0 auto;
  float: left;
  display: block;
  width: 100%;
}
conversation > section.row section.left article.me {
  text-align: right !important;
}
conversation > section.row section.left article section {
  text-align: left;
}
conversation > section.row section.left article section.large-9 {
  margin: 0;
  padding: 0 10px;
}
conversation > section.row section.left article section > h6 {
  font-size: 0.5em;
  line-height: 1;
  margin: 0 !important;
}
conversation > section.row section.left article section > p {
  font-size: 0.5em;
  font-weight: normal !important;
  line-height: 1;
}
