conversations-list {
  margin-top: 50px;
  display: block;
  font-size: 0.8em;
}
conversations-list > span {
  margin: 20px 0px;
  width: 100%;
  display: block;
}
conversations-list > ul {
  list-style: none;
}
conversations-list > ul li span {
  position: absolute;
  margin: 0 10px;
  padding: 0;
  font-size: 0.9em;
}
