ng-view input {
  font-weight: normal !important;
}
ng-view > section.large-7,
ng-view > aside {
  background-color: #e3eaf6;
  height: 700px;
  max-height: 700px;
  margin: 0 5px;
}
ng-view > aside header {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
ng-view > aside header > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: block;
}
ng-view > aside header > ul li {
  display: block;
  float: left;
  width: 50%;
  font-size: 0.7em;
  color: whitesmoke;
  background-color: #305aab;
  cursor: pointer;
}
ng-view > aside header > ul li:hover,
ng-view > aside header > ul li.active {
  background-color: #4974c4;
}
ng-view > section.large-7 textarea {
  position: absolute;
  width: 75%;
  bottom: 0;
  height: 100px;
  font-weight: normal !important;
  resize: none !important;
}
ng-view > section.large-7 button.button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  width: 20%;
  margin-bottom: 40px;
  font-weight: normal !important;
  background-color: #305aab;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
ng-view > section.large-7 button.button:hover {
  background-color: #4974c4;
}
