<nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/" ng-click="selected=false">
            message.me
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

  <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
          <a href="#">
            <img class="profile-picture" ng-show="user.username || user.facebook" ng-src="{{ '//graph.facebook.com/'+ (user.username || user.facebook) +'/picture'}}" alt="">
            {{ user.username || "Login" }}
          </a>
          <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li>
            <li><label>Login with</label></li>
            <li><a ng-click="login()" ng-hide="user.username || user.facebook">Login with Facebook</a></li>
            <li class="divider"></li>
            <li><a ng-click="enableNotifications()" ng-show="user.username || user.facebook">Enable Notifications</a></li>
            <li><a ng-click="logout()" ng-show="user.username || user.facebook">Logout</a></li>
          </ul>
        </li>
      </ul>
    </section></nav>