<input type="search" ng-model="user_search.name" placeholder="Search by name">
<span ng-show="" ng-init="user_search={}"></span>
<ul>
  <li ng-repeat="user in users | orderBy:'-status' | filter:user_search.name">
    <img
      ng-src="//graph.facebook.com/{{user.username}}/picture" alt="{{user.username}}'s picture"
      ng-class="{'offline': user.status==false, 'match': user_search.name, 'marked': user.marked}"
      ng-click="mark(user)">
  </li>
</ul>
<!-- <span>{{users.length}} Online Users</span> -->